<div sidebar class="left" state="mobileNavigationState" login-action="toggleLoginTab()" signup-action="toggleSignupTab()">
  <div menu login-action="toggleLoginTab()" signup-action="toggleSignupTab()" auth="currentAuth" user="currentUser"></div>
</div>

<div class="sidebar-desktop hidden-xs hidden-sm" ng-show="!$state.includes('app.home')">
  <div menu login-action="toggleLoginTab()" signup-action="toggleSignupTab()" auth="currentAuth" user="currentUser"></div>
</div>

<div class="sidebar-desktop right hidden-xs hidden-sm" ng-show="$state.includes('app.broadcast')||$state.includes('app.channel')">
  <div chat send-action="sendMessage(message)" messages="messages" auto-value="autoValue" auto-action="autoAction()"></div>
</div>

<div class="navigation-mobile visible-sm visible-xs" ng-class="{'home':$state.includes('app.home'),'dark':mobileNavigationState && $state.includes('app.home')}">
  <span class="icon-home" ng-click="toggleMobileNavigation()"></span>
</div>

<div login state="loginState" login-tab="loginTabState" signup-tab="signupTabState" signup-action="signupAction(signup)" login-action="loginAction(login)" oauth-action="oauthLogin(type)"></div>

<div loader state="loaderState" message="loaderMessage"></div>

<div toast state="toastState" message="toastMessage"></div>

<div class="uiv" ui-view></div>